@font-face {
font-family: "SevenOneEight-Black";
src: url("fonts/SevenOneEight-Black.ttf") format("truetype");
}

@font-face {
font-family: "SevenOneEight-Book";
src:  url("fonts/SevenOneEight-Book.ttf") format("truetype");
}

@font-face {
font-family: "SevenOneEight-ExtraBold";
src:  url("fonts/SevenOneEight-ExtraBold.ttf") format("truetype");
}

@font-face {
font-family: "SevenOneEight-Light";
src: url("fonts/SevenOneEight-Light.ttf") format("truetype");
}

@font-face {
font-family: "SevenOneEight-Medium";
src: url("fonts/SevenOneEight-Medium.ttf") format("truetype") ;
}

body{
	background: #efefef;
}

.container {
	max-width: 1600px;
	margin:0 auto;
	/*background: #d7ecdf;*/
}

h1{
	font-family: "SevenOneEight-Medium"; 
	font-size: 30px;
	text-transform: uppercase;
	color:#d61406;
}
/*h2{
	font-family: "SevenOneEight-Book"; 
	font-size: 20px;
	text-transform: uppercase;
}*/
p.lead {
    text-transform: uppercase;
    font-size: 25px;
    line-height: 25px;
}
hr {
    max-width: 100px;
    height: 4px;
    background: #000;
    border: 0;
}
.offres {
	padding: 20px 7px 40px;
	text-transform:uppercase;
}

.membres{
	background: #ed3323;
	padding: 5px;
	color:#ffffff;
}
.membres a{
	color:#ffffff;
}

#selection {
	text-transform: uppercase!important;
}
/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
section.form-group {
    margin-top: 50px;
}